/* Couleur de fond */

body {
    background-color: rgb(250, 255, 233);

}

#Competences {
    background-color: rgb(199, 198, 205);
}

button {
    background-color: aqua;
}



/* Police Titre */

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 170%;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}



/* Police paragraghe */

body {
    font-family: 'Times New Roman', Times, serif;
}

button {
    width: 200px;
    height: 30px;
}

#Coordonnees_utilisateur {
    font-size: 20px;
}

#Pourquoi h2 {
    font-size: 35px;
    font-weight: bolder;
}

.Menu {
    font-size: 20px;
}



/* Couleur  */

h1 {
    color: rgb(25, 173, 39);
}

h2 {
    color: rgb(25, 173, 39);
}

h3 {
    color: rgb(25, 173, 39);
}

#textefin {
    color: red;
}



/* Images logo */

footer img {
    width: 100px;
    height: 100px;
}

header img {
    width: 200px;
    height: 200px;
    margin-left: 20px;
}



/* Objets Fontawesome */

i {
    word-spacing: 2px;
}



/* Images */

img {
    width: 400px;
}



/* Alignement texte */

h1 {
    text-align: center;
}

#Coordonnees_utilisateur {
    text-align: left;
}

footer #acentrer {
    text-align: center;
}

footer .Wmates{
    text-align: center;
}

footer .motsdefin{
    text-align: center;
}

header {
    display: flex;
    flex-direction:row; 
    align-items: center;
    justify-content: space-around;
    height: 200px;
    margin-top: -20px;
    margin-left: -60px;  
}

header nav {
    word-spacing: 50px;
}

header div {
    font-size: large;
    font-style: italic;
    color: rgb(25, 173, 39);
    float: right;
    text-align: center;
}

.Menu {
    padding-bottom: 70px;
}

#Introduction {
    display: flex;
    /* flex-direction:row */
    align-items: center;
    justify-content: space-around;
    background-color: rgb(155, 192, 234);
}

#Coordonnees_utilisateur {
    padding-left: 30%;
}

#Noscoordonnees {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
}

h3 {
    padding-left: 28%;
}

#Pourquoi {
    display: flex;
    flex-direction:row;
    align-items: center;
}

#Pourquoi img {
    margin-right: 10px;
}


#textefin {
    margin-left: 130px;
    margin-right: 90px;
    text-align: center;
}

#Competences h2 {
    text-align: left;
   
}

#Apropos{
    margin-left: 10px;
    margin-right: 10px;
}



/* Alignement Menu */
header li {
    display: inline;
    text-decoration: none;
}

#envoyer {
    padding-left: 20%;
}

#Portfolio{
    margin-top: 10px;
    text-align: center;
}

#Competences{
    padding-bottom: 20px;
}



/* Liens */

a{
    color: rgb(25, 173, 39);
    text-decoration: none;
}

#envoyer a{
    color: black;
}
a:hover{
    color: rgb(189, 194, 206);
}

#Introduction a{
    color: blue;
    text-decoration: underline;
}



/* Curseur */

i{
    cursor: pointer;
}



/* input */

input {
    width: 500px;
    height: 25px;
}




/* Media screen */

@media (max-width:900px) {

    /* Images */
    #Portfolio img{
         width: 200px;
         height: 180px;
     }

    #Noscoordonnees img{
        width: 190px;
    }
    
    #Pourquoi img{
        width: 400px;
   } 


   /* Police Titre */

    h1 {
        font-size: 150%;
    }

    h3 {
        font-size: x-large;
    }


    /* Police paragraghe */

    #Pourquoi h2 {
        font-size: 20px;
        font-weight: bolder;
    }


    /* Images logo */

    header img {
        width: 170px;
        height: 170px;
        margin-left: 40px;
    }


    /* Alignement texte */

    #Introduction {
        display: flex;
        flex-direction: column;
    }

    #Pourquoi {
        display: flex;
        flex-direction: column;
    }

    #Competences h2 {
        text-align: center;
    }

    input{
        width: 80%;
        height: 20px;
    }

    button {
        width: 170px;
        height: 25px;
    }

    #textefin {
        padding-left: 5%;
    }

}  